CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Testing/
cmake_install.cmake*
build/*
.DS_Store*
*.dirstamp
*.o*
*~
*.vtk
*.orig
*.tar.gz
*.bkp
*.log
*.cc~
*.h~
*.cc#
*.h#
*.tcc~
*.tcc#
*.gcda*
*.gcno*
*coverage.info*
src/*#
include/*#
doc/*
*.swp*
felib
felibtest
lcov/*
